*/*/config.old
*/*/rootfs_config.old
build/
images/linux/
pre-built/linux/
.petalinux/*
!.petalinux/metadata
*.o
*.d
*.jou
*.log
*.swp
*.swo
project-spec/meta-plnx-generated/
/components/plnx_workspace


CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

.vscode/
.vscode/*
